@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-dm: var(--font-dm-sans);
  --font-fira_code: var(--font-fira_code);
  /* Neutral Colors */
  --color-neutral-900: #1c1a19;
  --color-neutral-800: #201e1d;
  --color-neutral-700: #343020;
  --color-neutral-600: #4a4846;
  --color-neutral-400: #c0bfbf;
  --color-neutral-300: #dedcd8;
  --color-neutral-200: #efedfb;
  --color-neutral-100: #fbf7f7;
  --color-neutral-0: #ffffff;

  /* Blue Colors */
  --color-blue-200: #e1f1fe;
  --color-blue-500: #93cefc;
  --color-blue-700: #75b0de;
  --color-blue-800: #5792c0;
  /* --color-blue-900: #0228a4; */
  --color-blue-900: #022b4a;

  /* Green Colors */
  --color-green-200: #e9f5ea;
  --color-green-500: #8dd3a9;
  --color-green-700: #008551;
  --color-green-900: #132a18;

  /* Yellow Colors */
  --color-yellow-200: #fff5e1;
  --color-yellow-500: #facc79;
  --color-yellow-700: #f4e806;
  --color-yellow-900: #4a3003;

  /* Red Colors */
  --color-red-400: #f04338;
  --color-red-600: #d92220;
  --text-3-5xl: 2rem;
}

.text-ligh-600_dark-400 {
  @apply text-neutral-600 dark:text-neutral-400;
}

.text-light-700_dark-0 {
  @apply text-neutral-700 dark:text-neutral-0;
}

.text-light-600_dark-400 {
  @apply text-neutral-600 dark:text-neutral-400;
}

.border-responsive {
  @apply border-[1px] border-neutral-200 dark:border-neutral-700;
}

.border-200_700 {
  @apply border-[1px] border-neutral-200 dark:border-neutral-700;
}

.markdown h1 {
  @apply font-sans text-4xl font-extrabold leading-[130%] tracking-[-0.025em] mb-3;
}

.markdown h2 {
  @apply font-sans text-[32px] font-extrabold leading-[130%] tracking-[-0.015em] mb-3;
}

.markdown h3 {
  @apply font-sans text-[28px] font-bold leading-[130%] tracking-[-0.015em] mb-3;
}

.markdown h4 {
  @apply font-sans text-[24px] font-semibold leading-[130%] tracking-[-0.5px];
}

.markdown h5 {
  @apply font-sans text-[20px] font-semibold leading-[130%] tracking-[-0.5px];
}

.markdown p {
  @apply font-sans text-lg font-normal leading-[150%] tracking-[-0.005em] m-1;
}
.markdown b {
  @apply text-neutral-600 font-sans text-[18px] font-bold leading-[140%] tracking-[-0.2px];
}

.markdown blockquote {
  @apply py-1.5 px-3 border-l-4 dark:border-l-neutral-600 border-l-neutral-400 mb-2;
}

.markdown hr {
  @apply border border-neutral-200 dark:border-neutral-700 my-6;
}

.markdown a {
  @apply border-[3px] border-blue-700 cursor-pointer;
}

.markdown ol {
  @apply font-sans flex flex-col gap-1.5 list-inside text-lg font-normal leading-[150%] tracking-[-0.005em];
}

.markdown li p {
  @apply font-normal;
}

.markdown ul {
  @apply list-disc font-sans flex flex-col gap-1.5 list-inside text-lg font-normal leading-[150%] tracking-[-0.005em];
}

th {
  @apply font-sans text-left text-lg font-medium leading-[150%] tracking-[-0.015em] px-3 py-2;
}

tr {
  @apply border border-neutral-200 dark:border-neutral-700;
}

td {
  @apply font-sans text-left text-base font-normal leading-[130%] tracking-[-0.005em] px-3 py-2;
}
td code {
  @apply block font-mono text-sm whitespace-pre rounded-xl overflow-x-auto
  bg-neutral-200 dark:bg-neutral-800 text-orange-600 dark:text-pink-400 p-0;
}

code {
  @apply block font-mono text-sm whitespace-pre p-3 rounded-xl overflow-x-auto
  bg-neutral-200 dark:bg-neutral-800 text-orange-600 dark:text-pink-400;
}

.custom-quote strong {
  @apply font-sans text-[20px] font-semibold leading-[130%] tracking-[-0.5px] text-neutral-700 dark:text-neutral-0;
}

.custom-quote p {
  @apply font-sans text-[18px] font-normal leading-[150%] tracking-[-0.2px] text-neutral-600 dark:text-neutral-400 m-0;
}
